
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link href="{% static 'accounts/css/bulma.css'%}" rel="stylesheet">
  <link href="{% static 'accounts/css/bulma.min.css'%}" rel="stylesheet">
  <link href="{% static 'accounts/css/bulma-rtl.css'%}" rel="stylesheet">
  <link href="{% static 'accounts/css/bulma-rtl.min.css'%}" rel="stylesheet">
  <link href="{% static 'accounts/css/bulma.min.css'%}" rel="stylesheet">
  <link href="{% static 'accounts/css/new.css'%}" rel="stylesheet">

  
</head>
<body style="background:linear-gradient(135deg, #71b7e6, #9b59b6);">
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  
   {% block content%}
   
   
   <div class="contents">
    <a href="{% url 'inbox' %}" class="close"></a>
   <div class="name">
     <h1>{{ active_direct}}</h1>
     </div>
   </div>
   <hr>
   <script>
    $(document).ready(function(){
      $('#div').animate({scrollTop:1000000},800);
    });
   </script>
   
   <div class="column">
    <div id="div" style="overflow-y: scroll; height:750px">
    {% for direct in directs %}
    <div class="box">
      <article class="media">
        <div class="media-left">
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{direct.sender.first_name}}{{direct.sender.last_name}}</strong>@{{ direct.sender.username }}: 
            </p>
            <strong>{{ direct.body}}</strong>      <small>{{ direct.date|date:'G:i'}}</small>
          </div>
        </div>
      </article>
    </div>
    {% endfor %}
    
    <form id="formId"role="form" method="POST" action="{% url 'send_direct' %}">
      {% csrf_token %}
    <article class="media">
      
        <input type="hidden" name="to_user" value="{{ active_direct }}">
        <div class="field">
          <p class="control">
            <input type="text"   name="body" placeholder="Message"></textarea>
          </p>
        </div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <div class="submit_btn_outer">
                <button class="submit_btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send</button>
            </div>
              
            
            </div>
          </div>
        </nav>
       </div>
       </article>
        </form>
       </div>


  
    {% endblock%}
  </div>
  
  
  




     </div>
       </div>
  </div>
</body>
</html>